.header-actions {
  display: flex;
  justify-content: end;
}

.home-controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-block: 10px;
}

.image-button {
  background-color: #f4511e;
  color: #fff;
  border: 2px solid #000;
  
  padding: 5px 10px;
  font-size: 1rem;
  font-family: 'Naruto Font', Impact, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 4px 4px 0px #000;
  
  transition: all 0.3s ease;
  
  text-align: center;
  text-decoration: none;
}

.image-button:hover {
  background-color: #d12121;
  box-shadow: 2px 2px 0px #000;
}

.image-button:active {
  box-shadow: 0px 0px 0px #000;
  transform: translate(4px, 4px);
}

.encouragement-text {
  width: 350px;
}
