@font-face {
    font-family: 'Naruto Font';
    src: url('assets/fonts/njnaruto.ttf') format('woff2'),
    url('assets/fonts/njnaruto.ttf') format('woff'),
    url('assets/fonts/njnaruto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: 'Naruto Font', sans-serif;
    color: white;
    letter-spacing: 0.7rem;
}

body {
    height: 100%;
    background: linear-gradient(135deg, #082C8C 0%, #4691CC 50%, #F66C2D 100%); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: #FFB902;
    text-shadow: 1px 1px 2px black;
}
